BasedOnStyle: Google

AlignAfterOpenBracket: BlockIndent
ContinuationIndentWidth: 2
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortEnumsOnASingleLine: true
BinPackArguments: false
BinPackParameters: OnePerLine
DerivePointerAlignment: false
IncludeBlocks: Preserve
IncludeCategories:
  - Regex:           '^<ext/.*\.h>'
    Priority:        2
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '^<.*\.h(pp)?>'
    Priority:        1
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '^<.*'
    Priority:        2
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '.*'
    Priority:        3
    SortPriority:    0
    CaseSensitive:   false
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: CaseInsensitive
